---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in pageContent.list %}
  <url>
    <loc>https://datalaw.example.com{{ page.permalink | url }}</loc>
    <lastmod>{{ page.date or '2026-05-07' }}</lastmod>
  </url>
{% endfor %}
</urlset>
